/* * {
  outline: auto;
} */
body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #ffffff;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}
ul {
  margin: 0;
  padding-left: 0;
}
img {
  display: block;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  width: 1158px;
  padding-left: 15px;
  padding-right: 15px;
  margin: auto;
  justify-content: space-between;
  align-items: center;
}
.page-header {
  border-bottom: 1px solid #e7e9fc;
  display: flex;
  justify-content: space-between;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.link {
  text-decoration: none;
  color: #434455;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.logo {
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17; /* 116.667% */
  letter-spacing: 0.54px;
  text-transform: uppercase;
  text-decoration: none;
  color: #4d5ae5;
  margin-right: 76px;
  display: flex;
}
.part-of-logo {
  color: #2e2f42;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.16; /* 116.667% */
  letter-spacing: 0.54px;
  text-transform: uppercase;
  font-size: 18px;
  font-family: "Raleway", sans-serif;
}
.list {
  list-style-type: none;
}
.address {
  font-style: normal;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  color: #2e2f42;
}
.list-address {
  display: flex;
  gap: 40px;

  padding-top: 24px;
  padding-bottom: 24px;
}
.link-address {
  text-decoration: none;
  color: #434455;
  font-weight: 400;
  line-height: 1.5; /* 150% */
  letter-spacing: 0.32px;
}

.nav {
  font-family: "Roboto", sans-serif;
  color: #434455;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5; /* 150% */
  letter-spacing: 0.32px;
  text-decoration: none;
  display: flex;
  align-items: center;
}
.nav-list {
  list-style-type: none;
  display: flex;
  gap: 40px;
}

.nav-list .link-nav-list:hover,
.nav-list .link-nav-list:focus {
  color: #404bbf;
}
.link-nav-list {
  text-decoration: none;
  color: #404bbf;
  padding-top: 24px;
  padding-bottom: 24px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  position: relative;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.item-list-nav-link {
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.link-nav-list::after {
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  bottom: -1px;
  height: 4px;
  border-radius: 2px;
  background-color: #404bbf;
}

.link-address {
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.address .link-address:focus,
.address .link-address:hover {
  color: #404bbf;
}

/* HERO SECTION */
.hero-section .button:focus,
.hero-section .button:hover {
  background-color: #404bbf;
  cursor: pointer;
}
.hero-section {
  font-family: "Roboto", sans-serif;
  background-color: #2e2f42;
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
  height: 600px;
  padding-top: 188px;
  padding-bottom: 188px;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/people-office.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.hero-title {
  font-family: "Roboto", sans-serif;
  color: #ffffff;
  font-size: 56px;
  line-height: 1.07; /* 107.143% */
  letter-spacing: 0.02em;
  max-width: 496px;
  margin-left: auto;
  margin-right: auto;
}
.button {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  background-color: #4d5ae5;
  color: #ffffff;
  display: block;
  border: none;
  height: 56px;
  min-width: 169px;
  border-radius: 4px;
  margin-top: 48px;
  margin-left: auto;
  margin-right: auto;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* SECTION 1 */

.first-section {
  padding-top: 120px;
  padding-bottom: 120px;
}

.list-image {
  display: flex;
  gap: 24px;
}

.container-list-image {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 264px;
  height: 112px;
  border-radius: 4px;
  border: 1px solid #8e8f99;
  background: #f4f4fd;
  margin: 0;
  margin-bottom: 8px;
}

.list-section {
  display: flex;
  gap: 24px;
}
.list-section-item {
  width: 264px;
}
.list-item-title {
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2; /* 120% */
  letter-spacing: 0.02em;
  color: #2e2f42;
  background-color: #ffffff;
  display: block;
  margin-bottom: 8px;
}
.list-page {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  line-height: 1.5; /* 150% */
  letter-spacing: 0.32px;
  display: block;
}

/* SECTION 2  */

.section-team {
  background-color: #f4f4fd;
  padding-top: 120px;
  padding-bottom: 120px;
}

.item-list-team {
  background-color: #ffffff;
  display: block;
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.list-section-team {
  display: flex;
  gap: 24px;
}
.title-our-team {
  font-family: "Roboto", sans-serif;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11; /* 111.111% */
  letter-spacing: 0.72px;
  text-transform: capitalize;
  text-align: center;
  color: #2e2f42;
  padding-bottom: 72px;
  margin-bottom: 72px;
}
.member-info {
  padding-top: 32px;
  padding-bottom: 32px;
  display: block;
}
.members-name {
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2; /* 120% */
  letter-spacing: 0.4px;
  background-color: #ffffff;
  color: #2e2f42;
  text-align: center;
  margin-bottom: 8px;
}
.members-post {
  font-family: "Roboto", sans-serif;
  line-height: 1.5; /* 150% */
  letter-spacing: 0.32px;
  background-color: #ffffff;
  margin-bottom: 8px;
  text-align: center;
}

.list-social-media-icon {
  list-style-type: none;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
}

.item-social-media-icon {
  display: block;
  width: 40px;
  height: 40px;
}
.list-link-social-media-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #4d5ae5;
  border-radius: 50%;
  width: 100%;
  height: 100%;
}
.social-media-icon {
  fill: #f4f4fd;
}

.list-link-social-media-icon:hover,
.list-link-social-media-icon:focus {
  background-color: #404bbf;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* SECTION 3 */

.third-section {
  padding-top: 120px;
  padding-bottom: 120px;
}

.title-portfolio {
  font-family: "Roboto", sans-serif;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11; /* 111.111% */
  letter-spacing: 0.72px;
  text-transform: capitalize;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 72px;
}
.list-portfolio {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
}

.portfolio-item {
  background-color: #ffffff;
  display: block;
  width: calc((100% - 48px) / 3);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-item:hover {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}
.overlay-container {
  position: relative;
  overflow: hidden;
}
.portfolio-item:hover .overlay {
  transform: translateY(0%);
}
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  color: #f4f4fd;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5; /* 150% */
  letter-spacing: 0.02em;
  padding: 40px 32px;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.product-info {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}
.products {
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2; /* 120% */
  letter-spacing: 0.4px;
  color: #2e2f42;
  padding-top: 32px;
  padding-bottom: 4px;
  padding-left: 16px;
  margin-bottom: 8px;
}
.function {
  font-family: "Roboto", sans-serif;
  line-height: 1.5; /* 150% */
  letter-spacing: 0.32px;
  padding-top: 4px;
  padding-bottom: 32px;
  padding-left: 16px;
}

/* FOOTER */

.footer {
  background-color: #2e2f42;
  padding-top: 100px;
  padding-bottom: 100px;
}
.container-footer {
  display: flex;
  width: 1158px;
  padding-left: 15px;
  padding-right: 15px;
  gap: 120px;
  align-items: baseline;
}

.logo-in-footer {
  color: #4d5ae5;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.54px;
  text-transform: uppercase;
  text-decoration: none;
  margin-bottom: 16px;
  display: inline-block;
  width: 115px;
  height: 24px;
}
.part-of-logo-in-footer {
  color: #f4f4fd;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.54px;
  text-transform: uppercase;
}
.finish-page {
  font-family: "Roboto", sans-serif;
  line-height: 1.5;
  letter-spacing: 0.32px;
  color: #f4f4fd;
  width: 264px;
  text-align: left;
}

.footer-page {
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: #ffffff;
  margin-bottom: 16px;
}
.footer-list-social-media-icon {
  list-style-type: none;
  gap: 16px;
}

.item-link-footer-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.item-link-footer-icon:hover,
.item-link-footer-icon:focus {
  background-color: #31d0aa;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mailing-wrap {
}

.form-mailing {
  display: flex;
  gap: 24px;
}

.form-mailing-wrap {
}

.mailing-wrap {
}
.mailing-page {
  margin-bottom: 16px;
  color: #ffffff;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.mailing-input {
  display: block;
  width: 264px;
  height: 40px;
  border-radius: 4px;
  border: 1px solid #fff;
  /* box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15); */
  background-color: transparent;
  color: #fff;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.04em;
  padding-left: 16px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
}
.mailing-input::placeholder {
  color: #fff;
}
.mailing-input:focus {
  border-color: #fff;
  outline: transparent;
}

.btn-subscribe {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 165px;
  height: 40px;
  border-radius: 4px;
  background: #4d5ae5;
  padding: 8px 24px;
  font-family: "Roboto", sans-serif;
  color: #fff;
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  border: none;
  cursor: pointer;
}

.subscribe-icon {
  margin-left: 16px;
  fill: #fff;
}

/* BACKDROP */
.backdrop {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(46, 47, 66, 0.4);
  z-index: 9999999;

  /* opacity: 0;
  visibility: hidden;
  pointer-events: none; */

  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop-is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

/* MODAL WINDOW */
.modal-window {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 408px;
  min-height: 584px;
  padding: 72px 24px 24px 24px;
  background-color: #fcfcfc;
  border-radius: 4px;
  transform: translate(-50%, -50%);
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.close-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  height: 24px;
  width: 24px;
  top: 24px;
  right: 24px;
  line-height: 0;
  background-color: #e7e9fc;
  border: none;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 0;
  fill: #2e2f42;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.close-btn:hover,
.close-btn:focus {
  border: none;
  background-color: #404bbf;
  fill: #ffffff;
}

.close-btn-icon {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.review-form-description {
  color: #2e2f42;
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  margin-top: 48px;
  margin-bottom: 16px;
}
.review-form-wrap {
  margin-bottom: 8px;
}
.review-form-label {
  display: block;
  color: #8e8f99;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.17;
  letter-spacing: 0.04em;
  margin-top: 8px;
  margin-bottom: 4px;
}

.review-form-input {
  width: 100%;
  height: 40px;
  border-radius: 4px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  padding-left: 38px;
  background-color: transparent;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.review-form-icon {
  position: absolute;
  fill: #2e2f42;
  top: 50%;
  left: 16px;
  transform: translateY(-50%);
}
.review-form-box-imput {
  position: relative;
}

.review-form-input:focus {
  outline: transparent;
  border-radius: 4px;
  border: 1px solid #4d5ae5;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.review-form-input:focus + .review-form-icon {
  fill: #4d5ae5;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.review-form-wrap-comment {
  margin-bottom: 16px;
}

.review-form-comment {
  width: 100%;
  height: 120px;
  color: rgba(46, 47, 66, 0.4);
  font-size: 12px;
  font-weight: 400;
  line-height: 1.17;
  letter-spacing: 0.04em;
  border-radius: 4px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  padding: 8px 16px;
  resize: none;
  background-color: transparent;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.review-form-comment:focus {
  outline: transparent;
  border-radius: 4px;
  border: 1px solid #4d5ae5;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.review-form-comment::placeholder {
  color: rgba(46, 47, 66, 0.4);
}
/* checkbox */
.review-form-wrap-checkbox {
  margin-top: 16px;
  margin-bottom: 24px;
}
.review-form-own-checkbox {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 16px;
  height: 16px;
  cursor: pointer;
  fill: transparent;
  border-radius: 2px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  margin-right: 8px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.review-form-checkbox-input:checked
  + .review-form-label-checkbox
  > .review-form-own-checkbox {
  border: none;
  background-color: #404bbf;
  fill: #f4f4fd;
}

.review-form-checkbox-imput:focus
  + .review-form-label-checkbox
  > .review-form-own-checkbox {
  border-radius: 4px;
  border: 1px solid #4d5ae5;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.review-form-label-checkbox {
  color: #8e8f99;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.17;
  letter-spacing: 0.04em;
}
.review-form-link-privacy {
  color: #4d5ae5;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.17;
  letter-spacing: 0.04;
  text-decoration-line: underline;
}
.btn-send {
  display: block;
  color: #fff;
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  background-color: #4d5ae5;
  min-width: 169px;
  height: 56px;
  padding: 16px 32px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
