/* 
---------MOBILE-------
*/

/* backdrop */
.backdrop {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(46, 47, 66, 0.4);
  z-index: 9999999;

  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}
.backdrop.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}
/* modal-window */
.modal-window {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 288px;
  height: 623px;
  padding: 72px 16px 24px 16px;
  background-color: #fcfcfc;
  border-radius: 4px;
  transform: translate(-50%, -50%);
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
}
.close-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  height: 24px;
  width: 24px;
  top: 24px;
  right: 24px;
  line-height: 0;
  background-color: #e7e9fc;
  border: none;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 0;
  fill: #2e2f42;
  cursor: pointer;
}

.review-form-description {
  color: #2e2f42;
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  margin-bottom: 16px;
}
.review-form-wrap {
  margin-bottom: 8px;
}
.review-form-label {
  display: block;
  color: #8e8f99;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.17;
  letter-spacing: 0.04em;
  margin-top: 8px;
  margin-bottom: 4px;
}
.review-form-input {
  width: 100%;
  height: 40px;
  border-radius: 4px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  padding-left: 38px;
  background-color: transparent;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.review-form-icon {
  position: absolute;
  fill: #2e2f42;
  top: 50%;
  left: 16px;
  transform: translateY(-50%);
}
.review-form-box-imput {
  position: relative;
}
.review-form-wrap-comment {
  margin-bottom: 16px;
}
.review-form-comment {
  width: 100%;
  height: 120px;
  color: rgba(46, 47, 66, 0.4);
  font-size: 12px;
  font-weight: 400;
  line-height: 1.17;
  letter-spacing: 0.04em;
  border-radius: 4px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  padding: 8px 16px;
  resize: none;
  background-color: transparent;
  outline: transparent;
}

.review-form-comment::placeholder {
  color: rgba(46, 47, 66, 0.4);
}
.review-form-wrap-checkbox {
  margin-bottom: 24px;
}
.review-form-own-checkbox {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 16px;
  height: 16px;
  cursor: pointer;
  fill: transparent;
  border-radius: 2px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  margin-right: 8px;
}
.review-form-checkbox-input:checked
  + .review-form-label-checkbox
  > .review-form-own-checkbox {
  border: none;
  background-color: #404bbf;
  fill: #f4f4fd;
}

.review-form-label-checkbox {
  color: #8e8f99;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.17;
  letter-spacing: 0.04em;
}
.review-form-link-privacy {
  color: #4d5ae5;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.17;
  letter-spacing: 0.04;
  text-decoration-line: underline;
}
.btn-send-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
}
.btn-send {
  display: block;
  color: #fff;
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  background-color: #4d5ae5;
  min-width: 169px;
  height: 56px;
  padding: 16px 32px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

@media screen and (min-width: 767px) {
  .modal-window {
    width: 408px;
    height: 584px;
    padding: 72px 24px 24px 24px;
  }
}
@media screen and (min-width: 1158px) {
  .backdrop {
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
      visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .modal-window {
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .close-btn {
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
      border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .close-btn:hover,
  .close-btn:focus {
    border: none;
    background-color: #404bbf;
    fill: #ffffff;
  }
  .close-btn-icon {
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .review-form-input {
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .review-form-input:focus {
    outline: transparent;
    border-radius: 4px;
    border: 1px solid #4d5ae5;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .review-form-input:focus + .review-form-icon {
    fill: #4d5ae5;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .review-form-comment {
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .review-form-comment:focus {
    outline: transparent;
    border-radius: 4px;
    border: 1px solid #4d5ae5;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .review-form-own-checkbox {
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
      border 250ms cubic-bezier(0.4, 0, 0.2, 1),
      fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .review-form-checkbox-imput:focus
    + .review-form-label-checkbox
    > .review-form-own-checkbox {
    border-radius: 4px;
    border: 1px solid #4d5ae5;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .btn-send {
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}
